.container {
  max-width: 114rem;
  margin: 0 auto;
  padding: 0 2.4rem;
}

.flex {
  display: flex;
  align-items: center;
}

.flex_direction_column {
  flex-direction: column;
}

.flex_justify_space-between {
  justify-content: space-between;
}

.grid {
  display: grid;
}

.grid_col_2 {
  grid-template-columns: repeat(2, 1fr);

  @media only screen and (max-width: 56.25em) {
    grid-template-columns: 1fr;
  }
}
