.gallery {
  &__image_size_bg {
    position: relative;
    @media only screen and (max-width: 56.25em) {
      cursor: auto;
    }
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      border-radius: 1.6rem;

      @media only screen and (max-width: 56.25em) {
        height: 60rem;
        width: 100vw;
        border-radius: 0;
      }

      @media only screen and (max-width: 37.5em) {
        height: 45rem;
      }
    }
  }

  &__image_size_sm {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1.4rem auto;
    border: 3px solid var(--transparent);
    border-radius: 1.6rem;
    background: var(--white);
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      border-radius: 1.3rem;
      transition: all 0.3s;
    }

    &:hover img {
      filter: opacity(50%);
    }
  }

  &__image_size_sm.active {
    border: 3px solid var(--orange);
    img {
      filter: opacity(50%);
    }
  }

  &__thumbnail {
    column-gap: 1.6rem;
    @media only screen and (max-width: 56.25em) {
      display: none !important;
    }
  }

  &__btn {
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    background: var(--white);
    height: 5rem;
    width: 5rem;
    border-radius: 50%;

    &_type_lightbox {
      display: flex;
    }

    &_type_lightbox.gallery-btn_type_prev {
      transform: translate(-50%, -50%);
    }

    &_type_lightbox.gallery-btn_type_next {
      transform: translate(-50%, -50%);
    }

    &_type_prev {
      left: 0;
      transform: translate(50%, -50%);
    }

    &_type_next {
      left: 100%;
      transform: translate(-150%, -50%);
    }

    @media only screen and (max-width: 56.25em) {
      display: flex;
    }
  }
}
