.lightbox {
  position: absolute;
  display: none;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: var(--lightbox-background);

  &__inner {
    z-index: 999;
    max-width: 40rem;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
  }
  &__close-btn {
    align-self: flex-end;
  }
}

.lightbox.open {
  display: flex;

  @media only screen and (max-width: 56.25em) {
    display: none;
  }
}
