.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 5.6rem;
  padding: 3.2rem 0;
  border-bottom: 4px solid var(--blue-grayish-light);

  &__logo {
  }

  &__links {
    flex-grow: 1;
    display: flex;
    column-gap: 2.4rem;
  }

  &__user {
    display: flex;
    align-items: center;
    column-gap: 5.6rem;
  }
}
