:root {
  --orange: hsl(26, 100%, 55%);
  --orange-pale: hsl(25, 100%, 94%);
  --blue-dark: hsl(220, 13%, 13%);
  --blue-grayish: hsl(220, 14%, 75%);
  --blue-grayish-dark: hsl(219, 9%, 45%);
  --blue-grayish-light: hsl(223, 64%, 98%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --lightbox-background: rgba(0, 0, 0, 0.75); }

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box; }

html {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 62.5%; }

@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%; } }

@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%; } }

body {
  font-size: 1.6rem;
  font-weight: 400; }

ul {
  list-style: none; }

a {
  color: var(--black);
  text-decoration: none; }

button {
  cursor: pointer;
  background: transparent;
  border: none; }

.btn_type_text {
  position: relative;
  color: var(--blue-grayish-dark);
  text-transform: capitalize;
  transition: all 0.3s; }
  .btn_type_text::after {
    content: "";
    position: absolute;
    top: 6.4rem;
    left: 0;
    display: block;
    height: 4px;
    width: 100%;
    background: var(--orange);
    opacity: 0;
    transition: all 0.3s; }
  .btn_type_text:hover {
    color: var(--blue-dark); }
    .btn_type_text:hover::after {
      opacity: 100%; }

.btn_type_img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4.4rem;
  width: 4.4rem;
  border-radius: 50%;
  transition: all 0.3s; }
  .btn_type_img:hover {
    box-shadow: inset 0 0 0 3px var(--orange); }
  .btn_type_img img {
    height: 4rem;
    width: 4rem;
    object-fit: cover; }

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 5.6rem;
  padding: 3.2rem 0;
  border-bottom: 4px solid var(--blue-grayish-light); }
  .navbar__links {
    flex-grow: 1;
    display: flex;
    column-gap: 2.4rem; }
  .navbar__user {
    display: flex;
    align-items: center;
    column-gap: 5.6rem; }

.container {
  max-width: 114rem;
  margin: 0 auto;
  padding: 0 2.4rem; }
