:root {
  --orange: hsl(26, 100%, 55%);
  --orange-pale: hsl(25, 100%, 94%);
  --blue-dark: hsl(220, 13%, 13%);
  --blue-grayish: hsl(220, 14%, 75%);
  --blue-grayish-dark: hsl(219, 9%, 45%);
  --blue-grayish-light: hsl(223, 64%, 98%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --lightbox-background: rgba(0, 0, 0, 0.75); }

main {
  position: relative; }

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box; }

html {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 62.5%; }

@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%; } }

@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%; } }

body {
  font-size: 1.6rem;
  font-weight: 400; }

ul {
  list-style: none; }

a {
  color: var(--black);
  text-decoration: none; }

button {
  cursor: pointer;
  background: transparent;
  border: none; }

.btn_type_text {
  position: relative;
  color: var(--blue-grayish-dark);
  text-transform: capitalize;
  transition: all 0.3s; }
  .btn_type_text::after {
    content: "";
    position: absolute;
    top: 6.4rem;
    left: 0;
    display: block;
    height: 4px;
    width: 100%;
    background: var(--orange);
    opacity: 0;
    transition: all 0.3s; }
    @media only screen and (max-width: 56.25em) {
      .btn_type_text::after {
        display: none; } }
  .btn_type_text:hover {
    color: var(--blue-dark); }
    .btn_type_text:hover::after {
      opacity: 100%; }

.btn_type_img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4.4rem;
  width: 4.4rem;
  border-radius: 50%;
  transition: all 0.3s; }
  .btn_type_img:hover {
    box-shadow: inset 0 0 0 3px var(--orange); }
  .btn_type_img img {
    height: 4rem;
    width: 4rem;
    object-fit: cover; }

.btn_type_icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem; }

.btn_type_primary {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 1.4rem;
  padding: 1.55rem;
  background: var(--orange);
  border-radius: 1rem;
  color: var(--white);
  font-size: 1.6rem;
  font-weight: 700; }
  .btn_type_primary svg path {
    fill: var(--white); }

.lightbox {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: var(--lightbox-background); }
  .lightbox__gallery {
    z-index: 999;
    max-width: 40rem;
    display: flex;
    flex-direction: column;
    row-gap: 2rem; }
    .lightbox__gallery-close {
      align-self: flex-end; }

.navbar {
  column-gap: 5.6rem;
  padding: 3.2rem 0;
  border-bottom: 4px solid var(--blue-grayish-light); }
  @media only screen and (max-width: 56.25em) {
    .navbar {
      padding: 2rem 0;
      border-bottom: none; } }
  .navbar__menu {
    column-gap: 1.8rem; }
    .navbar__menu_btn {
      display: none; }
      @media only screen and (max-width: 56.25em) {
        .navbar__menu_btn {
          display: inline-block; } }
  .navbar__links {
    flex-grow: 1;
    display: flex;
    column-gap: 2.4rem; }
    .navbar__links .btn_type_icon-big {
      display: none; }
    @media only screen and (max-width: 56.25em) {
      .navbar__links {
        display: none; } }
  .navbar__user {
    column-gap: 5.6rem; }
    @media only screen and (max-width: 56.25em) {
      .navbar__user {
        column-gap: 3.6rem; } }

.open.navbar__links {
  background: var(--white);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 2.4rem;
  height: 100vh;
  width: 24rem;
  padding: 3.2rem 2.4rem;
  z-index: 999; }
  .open.navbar__links .btn_type_icon-big {
    display: inline-block;
    margin-bottom: 3.6rem; }
  .open.navbar__links a {
    color: var(--black);
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 0.15rem; }

.open.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: var(--lightbox-background); }

.gallery-btn {
  display: none;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  background: var(--white);
  height: 5rem;
  width: 5rem;
  border-radius: 50%; }
  .gallery-btn_type_lightbox {
    display: flex; }
  .gallery-btn_type_lightbox.gallery-btn_type_prev {
    transform: translate(-50%, -50%); }
  .gallery-btn_type_lightbox.gallery-btn_type_next {
    transform: translate(-50%, -50%); }
  .gallery-btn_type_prev {
    left: 0;
    transform: translate(50%, -50%); }
  .gallery-btn_type_next {
    left: 100%;
    transform: translate(-150%, -50%); }
  @media only screen and (max-width: 56.25em) {
    .gallery-btn {
      display: flex; } }

.product {
  max-width: 114rem;
  margin: 0 auto;
  justify-items: center;
  padding: 7.2rem 2.4rem; }
  @media only screen and (max-width: 56.25em) {
    .product {
      max-width: 100%;
      padding: 0; } }

.product__description {
  align-self: center;
  max-width: 45rem; }
  @media only screen and (max-width: 56.25em) {
    .product__description {
      max-width: 100%;
      padding: 1.6rem 3.2rem; } }
  .product__description h1 {
    font-size: 3.6rem;
    font-weight: 700;
    text-transform: capitalize;
    letter-spacing: 0.1rem;
    margin-bottom: 3.2rem; }
  .product__description p {
    color: var(--blue-grayish-dark);
    line-height: 1.65;
    margin-bottom: 2.4rem; }

.product__company-tag {
  display: inline-block;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--orange);
  letter-spacing: 0.2rem;
  margin-bottom: 1.6rem; }

.product__price {
  font-size: 2.4rem;
  font-weight: 700; }
  @media only screen and (max-width: 37.5em) {
    .product__price {
      display: flex;
      align-items: center;
      justify-content: space-between; } }
  .product__price p {
    color: var(--black);
    vertical-align: middle;
    letter-spacing: 0.1rem;
    margin-bottom: 0.6rem; }
    @media only screen and (max-width: 37.5em) {
      .product__price p {
        margin-bottom: 1.8rem; } }
  .product__price p:nth-child(1) {
    display: flex;
    align-items: center;
    column-gap: 1.6rem; }
  .product__price p:nth-child(2) {
    font-size: 1.4rem;
    color: var(--blue-grayish);
    text-decoration: line-through;
    margin-bottom: 3.2rem; }
    @media only screen and (max-width: 37.5em) {
      .product__price p:nth-child(2) {
        font-size: 1.6rem;
        margin-bottom: 1.8rem; } }

.product__price-tag {
  font-size: 1.4rem;
  padding: 0.3rem 0.5rem;
  border-radius: 5px;
  background: var(--orange-pale);
  color: var(--orange); }

.product__cta {
  column-gap: 1.6rem; }
  @media only screen and (max-width: 37.5em) {
    .product__cta {
      flex-direction: column;
      row-gap: 2rem; } }

.product__quantity {
  background: var(--blue-grayish-light);
  padding: 1rem 0.8rem;
  column-gap: 2.4rem;
  border-radius: 1rem; }
  @media only screen and (max-width: 56.25em) {
    .product__quantity {
      padding: 1rem 1.4rem;
      width: 100%;
      justify-content: space-between; } }
  .product__quantity span {
    font-size: 1.6rem;
    font-weight: 700; }

.product__gallery {
  position: relative;
  max-width: 45rem; }
  @media only screen and (max-width: 56.25em) {
    .product__gallery {
      max-width: 100%; } }
  .product__gallery-image_size_bg {
    position: relative; }
    @media only screen and (max-width: 56.25em) {
      .product__gallery-image_size_bg {
        cursor: auto; } }
    .product__gallery-image_size_bg img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      border-radius: 1.6rem; }
      @media only screen and (max-width: 56.25em) {
        .product__gallery-image_size_bg img {
          height: 60rem;
          width: 100vw;
          border-radius: 0; } }
      @media only screen and (max-width: 37.5em) {
        .product__gallery-image_size_bg img {
          height: 45rem; } }
  .product__gallery-image_size_sm {
    padding: 1.4rem 0; }
    .product__gallery-image_size_sm img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      border-radius: 1.6rem; }
  .product__gallery-thumbnail {
    column-gap: 1.6rem; }
    @media only screen and (max-width: 56.25em) {
      .product__gallery-thumbnail {
        display: none !important; } }

.container {
  max-width: 114rem;
  margin: 0 auto;
  padding: 0 2.4rem; }

.flex {
  display: flex;
  align-items: center; }

.flex_direction_column {
  flex-direction: column; }

.flex_justify_space-between {
  justify-content: space-between; }

.grid {
  display: grid; }

.grid_col_2 {
  grid-template-columns: repeat(2, 1fr); }
  @media only screen and (max-width: 56.25em) {
    .grid_col_2 {
      grid-template-columns: 1fr; } }
