:root {
  --orange: hsl(26, 100%, 55%);
  --orange-pale: hsl(25, 100%, 94%);
  --blue-dark: hsl(220, 13%, 13%);
  --blue-grayish: hsl(220, 14%, 75%);
  --blue-grayish-dark: hsl(219, 9%, 45%);
  --blue-grayish-light: hsl(223, 64%, 98%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --lightbox-background: rgba(0, 0, 0, 0.75); }

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box; }

html {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 62.5%; }

@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%; } }

@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%; } }

body {
  font-size: 1.6rem;
  font-weight: 400; }

ul {
  list-style: none; }

a {
  text-decoration: none; }
